.login_form{
    margin:10% 5% 0% 5%;
}

.login_form_header{
    margin-top:5px;
    font-size: 30px;
    color: #fff;
}

.login_form_label{
    color: #fff;
}

.error_field{
    color: #deb900;
    font-size: 1.5rem;
}